<ul>
    <li>
        <%= link_to "account", root_path %>
    </li>
    <li>
        <%= link_to "genres", genres_path %>
    </li>
    <li>
        <%= link_to "movies", movies_path %>
    </li>
    <li>
        <%= link_to "personages", personages_path %>
    </li>
</ul>